
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-mistralai

mistralai

sentence-transformers
transformers
torch


chromadb
faiss-cpu


pypdf
pdfplumber
pymupdf
python-docx
unstructured
openpyxl


tiktoken
nltk


fastapi
uvicorn
requests


streamlit


python-dotenv


pandas
numpy


loguru


tqdm
typing-extensions


pytesseract
Pillow

beautifulsoup4
lxml


openai-whisper


sqlalchemy


llama-index
llama-index-vector-stores-chroma
llama-index-llms-mistralai